<?xml version="1.0" encoding="utf-8"?>
<QCARConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="qcar_config.xsd">
  <Tracking>
    <ImageTarget size="200.0684 283" name="ARJenga">
      <VirtualButton name="VirtualButton1" rectangle="-95.47537 -86.74846 -53.02541 -143.3485" enabled="true" sensitivity="low" />
    </ImageTarget>
    <ImageTarget size="200.0684 283" name="ARJenga2" />
  </Tracking>
</QCARConfig>